#PizzaApp {
  color: #424851;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  margin: 0;
}

#home-page {
  position: fixed;
  top: 0;
  height: 100%;
  background-size: cover;
  width: 100%;
  background: linear-gradient(to right, rgba(100,54,201,0.4) 0%, rgba(255,117,117,0.4) 100%),
  url(../media/pizza-background.jpg) no-repeat center center;

}

#home-logo {
  font-family: 'Bangers', cursive;
  padding-top: 0.5em;
  font-size: 3.5em;
  color: #FFF;
}

#home-content {
  margin-top: 8em;
  font-size: 1.5em;
}

#home-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
  margin-bottom: .3em;
  color: #fff;
}

@media only screen and (max-width: 600px) {

  #home-page {
    background: linear-gradient(to right, rgba(100,54,201,0.4) 0%, rgba(255,117,117,0.4) 100%),
    url(/assets/pizza-background-mobile.jpg) no-repeat center center;
    height: 100%;
    background-size: cover;

  }

  #home-content {
    margin-top: 4em;
    font-size: 1em;
  }

  #home-form,
  #home-btn,
  #home-label {
    margin-top: 1em;
  }
}

#navbar {
  background: #6435c9;
  border-bottom: 1px solid #6435c947;
  -webkit-box-shadow: -2px 6px 28px 0px rgba(196,196,196,1);
  -moz-box-shadow: -2px 6px 28px 0px rgba(196,196,196,1);
  box-shadow: -2px 6px 28px 0px rgba(196,196,196,1);
  margin-bottom: 2em;
}

#navbar-header {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  color: #fff;
  padding: 15px;
}

#navbar-total {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

#footer {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

#footer p {
  font-size: .9em;
  color: #9f9f9f;
}

#page-container {
  padding-top: 5em;
  padding-bottom: 4em;
}

#page-header {
  color: #ff7575;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-family: 'Bangers', cursive;
  font-size: 3.5em;
}

#menu-free-banner {
  background: linear-gradient(to right, rgba(100,54,201,0.4) 0%, rgba(255,117,117,0.4) 100%);
  width: 100%;
  margin-bottom: 4em;
  border-radius: 15px;
}

#menu-banner-text {
  padding: 0.8em;
  font-size: 1.5em;
  color: white;
  font-weight: 600;
}

#menu-pizza-container {
  margin-bottom: 2em;
}


#pizza-card {
  height: 32em;
  position: relative;
  border: 1px solid #6435c9;
  box-shadow: 12px 12px 0px -4px rgba(100,53,201,0.79);
}

#modal-pizzza-details{
  margin-top:1em;
  padding: 2em;
}

#pizza-description{
  text-align: justify;
  margin-top:0.5em;
  padding: 2em;
}
#pizza-order-btns{
  position: absolute;
  bottom:2em;
  left:4em;
}